@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face{
        font-family: 'yekan';
        src: url('%PUBLIC_URL%/./assets/yekan-font/Yekan.eot'); /* IE9 Compat Modes */
        src: url('%PUBLIC_URL%/./assets/yekan-font/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('%PUBLIC_URL%/./assets/yekan-font/Yekan.woff') format('woff2'), /* Super Modern Browsers */
             url('%PUBLIC_URL%/./assets/yekan-font/Yekan.woff') format('woff'), /* Pretty Modern Browsers */
             url('%PUBLIC_URL%/./assets/yekan-font/Yekan.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('%PUBLIC_URL%/./assets/yekan-font/Yekan.svg#svgFontName') format('svg'); /* Legacy iOS */
    }
    
}

.Toastify__toast{

}

@layer components {
    *{
        font-family: 'yekan','sans';
    }
    .mydarktoast{
        @apply !bg-slate-200 md:!w-[30rem] w-[20rem] !h-fit !border-slate-800 !border-2 !justify-center !items-center !text-center !text-lg !text-blue-700
    }
    .myparticles{
        @apply w-[10rem] h-[10rem]
    }
    
}